* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scrollbar-color: var(--gray) transparent;
  font-family: var(--default-font);
}
::selection {
  background: var(--primary);
  color: var(--black);
}
.link-elements {
  border-radius: 8px;
}
a.link-elements {
  border-radius: 20px;
  background: linear-gradient(to bottom, transparent, var(--black));
}
button,
input,
textarea,
.link-elements {
  outline: 3px solid transparent;
  transition: outline 0.3s ease;
}
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
.link-elements:focus-visible {
  outline: 3px solid var(--shade);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* fonts - primary */
@font-face {
  font-family: "RedditSans";
  src: url("/assets/fonts/reddit/RedditSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-display: swap;
}
/* fonts - secondary */
@font-face {
  font-family: "Cookie";
  src: url("/public/assets/fonts/Cookie-Regular.ttf") format("TrueType");
  font-display: swap;
}
:root {
  --white: #cacaca;
  --black: #101010;
  /* typography colors */
  --text: #b4b4b4;
  --gray: #929292;
  /* main color */
  --solid: #141414;
  --border: #2a2a2a;
  /* secondary hover/focus colors */
  --hover: #ffffff09;
  --focus: #ffffff10;
  /* secondary hover/focus colors */
  --secondary-hover: #ffffff14;
  --secondary-focus: #ffffff25;
  /* primary colors */
  --primary: #ffffff;
  --primary-shade: #c5c5c5;
  --color: #7591ce;
  --color-shade: #475e90;
  --transparency: #7591ce67;
  --shade: #585858;
  /* colors */
  --good: #6fda5a;
  --bad: #e24034;
  --warning: #eea148;
  --link: #0084ff;
  /* fonts */
  --default-font: "RedditSans", sans-serif;
  --secondary-font: "Cookie", cursive;
}
/* html-body */
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  background: var(--black);
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
/* ========================================================== */
/*                                                            */
/*     Base Styles (Typography, Buttons, Links, Commands)     */
/*                                                            */
/* ========================================================== */
img,
svg {
  pointer-events: none;
  user-select: none;
  transition: color 0.3s ease;
}
button {
  cursor: pointer;
  transition: background 0.2s ease;
}
